#secretion_page_02_02 {}

#secretion_page_02_02 .container {
	padding: 40px 60px;
}
#secretion_page_02_02 .content-row {
	align-items: start;
	margin-right: 30px;
	padding-top: 5px;
}

#secretion_page_02_02 .content-col.content-col-1 {
	flex-basis: 40%;
	padding-right: 120px;
}
#secretion_page_02_02 .content-col.content-col-2 {
	flex-basis: 0;
	padding-right: 20px;
}

#secretion_page_02_02 .img-full{
	border: 2px solid #fff;
	box-shadow: 0px 0px 10px #ccc;
}

#secretion_page_02_02 .graph-ibs{
	margin-bottom: 20px;
	margin-top: 30px;
}

#secretion_page_02_02 .btn-default{
	max-width: 300px;
}
#secretion_page_02_02 p.padding-n {
    font-size: 14px;
}
#secretion_page_02_02 .button-gast {
	position: absolute;
	bottom: 70px;
	min-width: 260px;
	right: 110px;
}
#secretion_page_02_02 .nav-page {
    position: absolute;
    right: 35px;
    top: 110px;
    z-index: 7;
}
#secretion_page_02_02 .btn-default.btn-next::after {
    right: 0;
    bottom: 22px;
}