#motility_page_02_02 {}
#motility_page_02_02 .container {
	padding: 20px 50px;
}
#motility_page_02_02 .content-row {
	align-items: start;
	margin-right: 30px;
	padding-top: 5px;	
}

#motility_page_02_02 .content-col.content-col-1 {
	flex-basis: 40%;
	padding-right: 90px;
}
#motility_page_02_02 .content-col.content-col-2 {
	flex-basis: 0;
	padding-right: 20px;
	padding-top: 25px;
}

#motility_page_02_02 .img-full{
	border: 2px solid #fff;
	box-shadow: 0px 0px 10px #ccc;
}

#motility_page_02_02 .graph-ibs{
	margin-bottom: 20px;
	margin-top: 25px;
}

#motility_page_02_02 .btn-default{
	max-width: 350px;
}
#motility_page_02_02 .button-gast {
	position: absolute;
	bottom: 65px;
	right: 100px;
}
#motility_page_02_02 .nav-page {
    position: absolute;
    right: 25px;
    top: 170px;
    z-index: 7;
}