#secretion_page_02_01 {}

#secretion_page_02_01 .container {
	padding: 10px 40px 10px 40px;
}
/*#secretion_page_02_01 p {
    font-size: 15px;
    line-height: 1.45em;
    margin-bottom: 20px;
    text-align: left;
}*/
#secretion_page_02_01 .content-row {
	align-items: start;
	margin-right: 30px;
	padding-top: 5px;
}

#secretion_page_02_01 .content-col.content-col-1 {
	flex-basis: 45%;
	/*flex-basis: 40%;*/
	padding-right: 65px;
	/*padding-right: 65px;*/
}
#secretion_page_02_01 .content-col.content-col-2 {
	flex-basis: 0;
	padding-right: 20px;
}

#secretion_page_02_01 .img-full{
	border: 2px solid #fff;
	box-shadow: 0px 0px 10px #ccc;
}

#secretion_page_02_01 .graph-ibs{
	margin-bottom: 20px;
	margin-top: 60px;
}

#secretion_page_02_01 .btn-default{
	max-width: 260px;
}
#secretion_page_02_01 p.padding-n {
    font-size: 14px;
}
#secretion_page_02_01 .button-gast {
	position: absolute;
	bottom: 75px;
	right: 92px;
}
#secretion_page_02_01 .nav-page {
    position: absolute;
    right: 25px;
    top: 145px;
    z-index: 7;
}
#secretion_page_02_01 .btn-default.btn-next::after {
    right: 0;
    bottom: 22px;
}