
[data-module='ap-custom-collections'] {
	display: none;
}

[data-module='ap-custom-collections'].state-visible {
	display: block;
}
.custom-collections,
.custom-collections .overview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.custom-collections {
	bottom: 0;
}

.custom-collections .overview {
	bottom: 52%;
}

.custom-collections .overview .o-slide.already-used {
	opacity: .5;
}

body > .o-slide {
	position: absolute;
	z-index: 1;
	transition: none;
	pointer-events: none;
	opacity: .5;
}

body > .o-slide.grouped:nth-last-child(1) {
	margin-top: 5px;
	margin-left: 5px;
}

body > .o-slide.grouped:nth-last-child(2) {
	margin-top: 10px;
	margin-left: 10px;
}

body > .o-slide.grouped:nth-last-child(3) {
	margin-top: 15px;
	margin-left: 15px;
}

body > .o-slide.grouped:nth-last-child(4) {
	margin-top: 20px;
	margin-left: 20px;
}

body > .o-slide.grouped:nth-last-child(5) {
	margin-top: 25px;
	margin-left: 25px;
}

.custom-collections .edit-zone {
	position: absolute;
	bottom: 0;
	top: 52%;
	left: 0;
	right: 0;
	line-height: 0;
	overflow: hidden;
}

.custom-collections .o-collection .placeholder {
	transition: height .5s, width .5s;
}

.custom-collections .o-collection > .placeholder {
	width: 46px;
	height: 104px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.custom-collections .o-collection > .placeholder,
.custom-collections .o-collection .placeholder:last-child
{
	border: 1px dashed lightgray;
	background: url(assets/plus.png) center center / 28px no-repeat;
}

.custom-collections .o-collection > .o-slideshow > .placeholder {
	width: 138px;
	height: 10px;
	float: left;
}

.custom-collections .o-collection .placeholder.target,
.custom-collections .o-collection .placeholder.expanded {
	border: 1px dashed lightgray;
	background: lightgray url(assets/plus.png) center center / 28px no-repeat;
	animation: targetAnimation .5s alternate infinite;
	transition-delay: .2s;
}

.custom-collections .o-collection > .placeholder:last-child,
.custom-collections .o-collection > .placeholder.target,
.custom-collections .o-collection > .placeholder.target:last-child{
	width: 136px;
}

.custom-collections .o-collection > .o-slideshow > .placeholder:last-child{
	height: 102px;
}

.custom-collections .edit-zone .o-slide {
    margin: 0;
    line-height: 1.1;
}

.custom-collections .edit-zone .o-collection .o-slideshow,
.custom-collections .edit-zone .o-slide{
	margin: 0;
}

.custom-collections .edit-zone .o-collection > .o-slideshow:first-child .o-slide,
.custom-collections .edit-zone .o-collection > .o-slideshow:last-child .o-slide {
	margin-top: 10px;
}

.custom-collections .edit-zone .o-collection .o-slideshow.grouped > .placeholder {
	pointer-events: none;
}

.custom-collections .edit-zone .o-collection .o-slideshow.grouped .o-slide + .placeholder,
.custom-collections .edit-zone .o-collection .o-slideshow .end-group,
.custom-collections .edit-zone .o-collection > .o-slideshow:first-child,
.custom-collections .edit-zone .o-collection > .o-slideshow .o-slide[data-id='start_slide'],
.custom-collections .edit-zone .o-collection > .o-slideshow .o-slide[data-id='home_slide'],
.custom-collections .edit-zone .o-collection > .o-slideshow:last-child {
	pointer-events: auto;
}

.custom-collections .edit-zone .o-slide.grouped + .o-slide.grouped {
	margin-top: 9px;
}

.custom-collections .edit-zone .o-collection .o-slideshow.grouped + .o-slideshow.grouped {
	margin-left: 20px;
}

.custom-collections .o-collection .o-slideshow.grouped + .o-slideshow.grouped > .o-slide.grouped.vertical-group + .o-slide.grouped.vertical-group:before,
.custom-collections .o-collection .o-slideshow .o-slide.grouped + .o-slide.grouped:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0;
	top: -19px;
	background: url(assets/chained.png) center / contain no-repeat;
	transform: rotate(90deg);
}

.custom-collections .o-collection .o-slideshow.grouped + .o-slideshow.grouped > .o-slide.grouped:not(.first-group-slide):before {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	top: 35%;
	left: -15%;
	background: url(assets/chained.png) center / contain no-repeat;
}

.custom-collections .edit-zone .o-collection .o-slideshow.grouped + .o-slideshow.grouped > .o-slide.grouped.vertical-group:before {
	left: auto;
}

.custom-collections .edit-zone .o-collection .o-slideshow.grouped + .o-slideshow.grouped > .o-slide.grouped:before {
	left: -19%;
}

.custom-collections .o-collection .o-slideshow .o-slide.grouped + .o-slide.grouped.first-in-group:before,
.custom-collections .o-collection .o-slideshow.grouped + .o-slideshow.grouped > .o-slide.grouped.first-in-group:before{
	content: none;
}

.custom-collections .o-slide.source {
	transition: opacity .25s;
	opacity: .5;
}

.custom-collections .divisor {
	position: absolute;
	top: 48%;
	bottom: 48%;
	left: 0;
	right: 0;
	overflow: hidden;
	text-align: center;
	font-size: 17px;
	color: rgb(157, 157, 157);
	background: -webkit-linear-gradient(top, #fff, #d6d6d6);
	background: linear-gradient(to top, #fff, #d6d6d6);
	box-shadow: 0 3px 5px 0 #ccc;
	padding-top: 6px;
}

.custom-collections .divisor .instructions {
	color: #676767;
	display: inline;
}

.custom-collections .divisor .arrow {
	background: url(assets/arrow.png) 0 0 / 20px 9px no-repeat;
	width: 20px;
	height: 11px;
	box-sizing: border-box;
	display: inline;
	margin: 0 9px;
}

.custom-collections .divisor .save,
.custom-collections .divisor .cancel {
	float: right;
	display: inline;
	margin-right: 10px;
	height: 20px;
	margin-left: 10px;
	color: rgb(50, 155, 197);
	font-weight: bold;
	font-size: 20px;
	border: none;
	background-color: transparent;
}

.custom-collections .divisor .presentation-name {
	float: left;
	color: #676767;
	font-size: 14px;
	margin-left: 10px;
}

@keyframes targetAnimation {
	from {
		background-color: transparent;
	}
	to {
		background-color: lightgray;
	}
}
