#master_detailer_page_03_01 {}

#master_detailer_page_03_01 .content-row {
    align-items: start;
    padding-top: 10px;
    /*padding-top: 20px;*/
}

#master_detailer_page_03_01 .container {
	padding: 10px 40px;
}
#master_detailer_page_03_01 .btn-default {
	min-width: 300px;
}
#master_detailer_page_03_01 h5 {
    font-size: 24px;
    /*font-size: 22px;*/
}
#master_detailer_page_03_01 .button-gast {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;    
}

#master_detailer_page_03_01 .graph-ibs img {
	max-width: 350px;
}
#master_detailer_page_03_01 .content-col.content-col-1 {
	flex-basis: 50%;
	padding-right: 50px;
}
#master_detailer_page_03_01 .content-col.content-col-2 {
	flex-basis: 0;
	padding-top: 40px;
}
#master_detailer_page_03_01 .popup .graph-ibs {
	position: relative;
}
	#master_detailer_page_03_01 .popup .graph-ibs .g-s01, 
	#master_detailer_page_03_01 .popup .graph-ibs .g-s02 {
		position: absolute;
		overflow: hidden;
		/*height: 0px;*/
	}
	#master_detailer_page_03_01 .popup .graph-ibs .g-s01 {
		left: 335px; 
		bottom: 80px;
	}
	#master_detailer_page_03_01 .popup .graph-ibs .g-s02 {
		left: 280px; 
		bottom: 80px;
	}

#master_detailer_page_03_01 .popup .graph-ibs img {
	max-width: 580px;
}	