#presentation #slideshows:-moz-full-screen-ancestor:not(iframe) {
  z-index: auto;
  position: static;
  opacity: 1;
  transform: none;
  -moz-mask: none;
  -moz-filter: none;
  transition: none;
  -moz-transition: none;
  -moz-box-reflect: none;
  -moz-perspective: none;
  -moz-transform-style: flat;
}

.ag-video-container{
  position: relative;
}
.ag-video-container:-webkit-full-screen {
  width:100%;
  height:100%;
  background-color: black;
}
.ag-video-element{
  position: relative;
  width:99.9%;
  height:100%;
}
.ag-video-overlay{
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  font-size: 10px;
}
.ag-upper-click-layer{
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:82%;
  width: 100%;
}
.ag-video-controls {
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0;
  opacity: 0;
  margin: 0; 
  padding: 0;
  height: 18%;
  color: #fff; 
  border-top: 1px solid #404040;
  pointer-events:none;

  background: #242424;
  background-image: linear-gradient(to bottom, #242424 50%,#1f1f1f 50%,#171717 100%); 

  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.state-pause .ag-video-controls{
  opacity: 0.85;
  pointer-events:auto;
}
.ag-video-controls .ag-video-play-toggle { 
  width: 10%; 
  cursor: pointer !important; 
  float:left;
  height:100%;
}
.ag-video-play-toggle div { 
  width: 15px; 
  height: 17px; 
  background: url('assets/video-js.png'); 
  margin: 0 auto;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
.state-play .ag-video-play-toggle div { 
  background: url('assets/video-js.png') -25px 0; 
}
.state-pause .ag-video-play-toggle div { 
  background: url('assets/video-js.png'); 
}
.ag-video-progress-controller {
  width: 80%;
  transform: translateY(-50%);
  top: 50%;
  left:10%;
  border-bottom: 1px solid #999;
  border-top: 1px solid #666;

  background: #999;
  background-image: linear-gradient(to bottom, #999, #666);
}
.ag-video-progress-container {
  position: relative; 
  cursor: pointer !important;
  padding: 0; 
  margin: 0;
  height: 1.0em;
  -moz-border-radius: 0.6em; -webkit-border-radius: 0.6em; border-radius: 0.6em;

  background: #111;
  background-image: linear-gradient(to bottom, #111, #262626);
}
.ag-video-progress-container .ag-video-progress-bar { /* Progress Bar */
  position: absolute; 
  display: block; 
  width: 0%; 
  height: 0.9em; 
  margin: 0; 
  padding: 0;
  left: 0; 
  top: 0;
  -moz-border-radius: 0.6em; 
  -webkit-border-radius: 0.6em; 
  border-radius: 0.6em;
}
.ag-video-progress-bar {
  background: #fff;
  background-image: linear-gradient(to bottom, #fff 0%,#d6d6d6 50%,#fff 100%);

  background: #efefef;
  background-image: linear-gradient(to bottom, #efefef 0%,#f5f5f5 50%,#dbdbdb 50%,#f1f1f1 100%);
}
.ag-video-timer {
  position: absolute;
  height: 1.0em;
  top: 14px;
  font-size: 1em; line-height: 1.0em; font-weight: normal; font-family: Helvetica;
  color:white;
  z-index:1;
}
.ag-video-current-time { 
  left:0.4em;
}
.ag-video-total-time { 
  right:0.4em;
}
.ag-video-big-play-button {
  display: block;
  pointer-events:none;
  z-index: 2;
  position: absolute; top: 50%; left: 50%; width: 8.0em; height: 8.0em; margin: -43px 0 0 -43px; text-align: center; vertical-align: center; cursor: pointer !important;
  border: 0.3em solid #fff; opacity: 0.95;
  -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;

  background: #454545;
  background-image: linear-gradient(to bottom, #454545 0%,#232323 50%,#161616 50%,#3f3f3f 100%);

  -webkit-box-shadow: 4px 4px 8px #000; -moz-box-shadow: 4px 4px 8px #000; box-shadow: 4px 4px 8px #000;
}
.ag-video-big-play-button span {
  position: absolute; top: 50%; left: 50%;
  display: block; width: 35px; height: 42px;
  margin: -20px 0 0 -15px; /* Using negative margin to center image. */
  background: url('assets/video-js.png') -100px 0;
}
.state-play .ag-video-big-play-button,
.state-pause .ag-video-big-play-button{
  display:none;
}
.ag-video-controls .ag-video-fullscreen-button { 
  width: 10%; 
  cursor: pointer !important; 
  height:100%; 
  position: absolute;
  top:0;
  right: 0;
}
.ag-video-fullscreen-button div { 
  width: 16px; 
  height: 16px; 
  background: url('assets/video-js.png') -50px 0; 
  margin: 0 auto;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
.ag-video-seek-ele{
  position: absolute;
  top:-50%;
  left: -1.0em;
  width:1.7em;
  height:1.7em;
  background-color:white;
  opacity: 1;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}

// Styles when in fullscreen
.ag-video-fullscreen .ag-upper-click-layer{
  height: 95%;
}
.ag-video-fullscreen .ag-video-controls{
  height: 5%;
}
.ag-video-fullscreen .ag-video-play-toggle div { 
  margin: 10% auto 0;
}
.ag-video-fullscreen .ag-video-fullscreen-button div{
  background: url('assets/video-js.png') -75px 0;
  margin: 10% auto 0; 
}