#master_detailer_page_04_01 {}

#master_detailer_page_04_01 .container {
	padding: 10px 80px;
	/*padding: 20px 120px;*/
}

#master_detailer_page_04_01 .btn-default {
	min-width: 240px;
}

#master_detailer_page_04_01 .button-gast {
	position: absolute;
	bottom: 45px;
	left: 80px;
}