#master_detailer_page_02 h2 {
    /*font-size: 30px;*/
}
#master_detailer_page_02 h4 {
    /*font-size: 22px;*/
    /*font-size: 20px;*/
}
#master_detailer_page_02 .btn-plus {
	padding-left: 50px;
	padding-right: 50px;
	max-width: none;
	margin-top: 20px;
    /*margin-top: 50px;*/
}

#master_detailer_page_02 .container {
	padding: 80px 120px;
    /*padding: 100px 140px;*/
}
#master_detailer_page_02 .table-responsive {
	margin-top: 5px
    /*margin-top: 25px*/
}
    #master_detailer_page_02 .table-responsive th { 
        font-size: 18px;
        /*font-size: 16px;*/
    }
    #master_detailer_page_02 .table-responsive td, #master_detailer_page_02 .table-responsive th {
      padding: 6px;
      /*padding: 10px;*/
    }
#master_detailer_page_02 .table-responsive th.width-n {width: 385px;}    
#master_detailer_page_02 .table-responsive th.width-n-sm {width: 150px;} 

    #master_detailer_page_02 .table-responsive td { 
    	font-size: 18px;
        /*font-size: 16px;*/
        font-family: 'Ubuntu-Regular';
    }

#master_detailer_page_02 .table-responsive td li {
    font-size: 18px;
    /*font-size: 16px;*/
    /*font-size: 14px;*/
    margin-bottom: 0px;
    line-height: 1.25em;
    margin-left: 0;
}    
#master_detailer_page_02 p, #master_detailer_page_02 li {
	/*font-size: 20px;*/
    /*font-size: 18px;*/
}
#master_detailer_page_02 p.ref-table, #master_detailer_page_02 p.ref-table2 {
    font-size: 18px;
}