#hypersensitivity_page_02_02 {}

#hypersensitivity_page_02_02 .container {
	padding: 10px 50px 10px 30px;
}
#hypersensitivity_page_02_02 .content-row {
	align-items: start;
	margin-right: 30px;
	padding-top: 5px;
}
#hypersensitivity_page_02_02 .content-col.content-col-1 {
	flex-basis: 60%;
	/*flex-basis: 40%;*/
	padding-right: 80px;
}
#hypersensitivity_page_02_02 .content-col.content-col-2 {
	flex-basis: 0;
	padding-right: 20px;
	margin-top: 15px;
}

#hypersensitivity_page_02_02 .img-full{
	border: 2px solid #fff;
	box-shadow: 0px 0px 10px #ccc;
}
#hypersensitivity_page_02_02 img.img-full{
	max-width: 260px;
}
#hypersensitivity_page_02_02 .graph-ibs{
	margin-bottom: 20px;
}

#hypersensitivity_page_02_02 .btn-default{
	max-width: 280px;
}
#hypersensitivity_page_02_02 .button-gast {
	position: absolute;
	bottom: 65px;
	right: 100px;
}
#hypersensitivity_page_02_02 .nav-page {
    position: absolute;
    right: 25px;
    top: 135px;
    z-index: 7;
}
#hypersensitivity_page_02_02 .btn-default.btn-next::after {
    right: 0;
    bottom: 22px;
}