#secretion_page_01_02 {}

#secretion_page_01_02 .container {
	padding: 30px 40px;
}
#secretion_page_01_02 .prod-iberogast img {
    max-width: 215px;
    /*max-width: 265px;*/
    margin-left: 190px;
    margin-top: -10px;
}
#secretion_page_01_02 h4, #secretion_page_01_02 h5 {
    margin-bottom: 10px;
}
#secretion_page_01_02 .content-row {
    padding-top: 0px;
}
#secretion_page_01_02 .graph-ibs img {
	max-width: 410px;
	/*max-width: 475px;*/
}
#secretion_page_01_02 .content-col.content-col-1 {
	flex-basis: 50%;
	/*flex-basis: 45%;*/
	padding-right: 0px;
	/*padding-right: 20px;*/
}
#secretion_page_01_02 .content-col.content-col-2 {
	flex-basis: 0;
	margin-top: -60px;
	padding-right: 45px;
	/*padding-right: 20px;*/
}
#secretion_page_01_02 .content-col-2 h5 {
	margin: 20px 0;
}
#secretion_page_01_02 p.ref {
	font-size: 14px;
	text-align: right;
	margin: 15px 0;
}