#motility_page_02_01 {}

#motility_page_02_01 .container {
	padding: 20px 40px;
}
#motility_page_02_01 .content-row {
	align-items: start;
	margin-right: 30px;
	padding-top: 5px;
}

#motility_page_02_01 .content-col.content-col-1 {
	flex-basis: 60%;
	/*flex-basis: 40%;*/
	padding-right: 55px;
}
#motility_page_02_01 .content-col.content-col-2 {
	flex-basis: 0;
	padding-right: 20px;
	margin-top: -15px;
}

#motility_page_02_01 .img-full{
	border: 2px solid #fff;
	box-shadow: 0px 0px 10px #ccc;
	max-width: 220px;
}

#motility_page_02_01 .graph-ibs{
	margin-bottom: 20px;
}

#motility_page_02_01 .btn-default{
	max-width: 350px;
}
#motility_page_02_01 p.padding-n {
    font-size: 16px;
}
#motility_page_02_01 .button-gast {
	position: absolute;
    bottom: 30px;
    right: 90px;
}
#motility_page_02_01 .nav-page {
    right: 30px;
    top: 165px;
}