#secretion_page_01_01 {}

#secretion_page_01_01 h3 {
  padding-right: 20px;
}
#secretion_page_01_01 .container {
  padding: 20px 60px;
  /*padding: 20px 80px;*/
}

#secretion_page_01_01 .prod-iberogast img {
    max-width: 290px;
    /*max-width: 360px;*/
    margin-top: 0px;
    /*margin-top: -60px;*/
    /*margin-top: -140px;*/
}
/*#secretion_page_01_01 li {
    font-size: 16px;
    margin-bottom: 2px;
    line-height: 1.25em;
}*/
#secretion_page_01_01 h4, #secretion_page_01_01 h5 {
    margin-bottom: 10px;
}
#secretion_page_01_01 .content-row {
    padding-top: 10px;
    align-items: start;
}
#secretion_page_01_01 .headline {
  margin-top: 35px;
}
#secretion_page_01_01 .content-col.content-col-1 {
  flex-basis: 60%;
  margin-top: 20px;
}
#secretion_page_01_01 .content-col.content-col-2 {
  flex-basis: 0;
}
#secretion_page_01_01 .tabcontent {
  /*padding: 24px 10px;*/
  /*padding-right: 70px;*/
}