[data-module='ah-tutorial-controls'] {
	display: flex;
	justify-content: center;
}
[data-module='ah-tutorial-controls'] .tutorial {
	width: 38px;
	height: 38px;
	position: relative;
	margin-top: 4px;
	border: none;
	background: url("assets/tutorial.png") center/100% auto no-repeat;
}
[data-module='ah-tutorial-controls'] .tutorial.active {
	background-image: url("assets/tutorial-active.png");
}
