[data-module="ap-video-library"] {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15pt;
    -webkit-box-sizing: border-box; -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5), inset 0 0 15px 0 rgba(50, 50, 50, 0.2);
}

[data-module="ap-video-library"].state-visible{
    display: block;
}


[data-module="ap-video-library"] h1 {
    margin: 20px;
}

[data-module="ap-video-library"] .scroll {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 20px;
    right: 20px;
    overflow: hidden;
}

[data-module="ap-video-library"] ul {
    list-style: none;
    padding-right: 20px;
}

[data-module="ap-video-library"] ul li.mediaEntry {
    padding-top: 18px;
    padding-bottom: 18px;
}

[data-module="ap-video-library"] ul li.mediaEntry .icon {
    left: 50px;
    width: 120px;
}

[data-module="ap-video-library"] ul li.mediaEntry .title {
    padding-left: 190px;
}

[data-module="ap-video-library"] ul li.mediaEntry .tags {
    display: none;
}

[data-module="ap-video-library"] ul li.mediaEntry .referenceId {
    display: none;
}
