#master_detailer_page_03_02 {}

#master_detailer_page_03_02 .container {
	padding: 10px 40px;
}
#master_detailer_page_03_02 .btn-default {
	min-width: 300px;
}
#master_detailer_page_03_02 h5 {
    font-size: 24px;
    /*font-size: 22px;*/
    margin-top: 35px;
}

#master_detailer_page_03_02 .content-row {
    align-items: flex-start;
    /*margin-top: 5px;*/
    padding-top: 0px;
}

#master_detailer_page_03_02 .button-gast {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;    
}
#master_detailer_page_03_02 .graph-ibs {
	margin-top: 10px;
}
#master_detailer_page_03_02 .graph-ibs img {
	max-width: 350px;
}
#master_detailer_page_03_02 .content-col.content-col-1 {
	flex-basis: 50%;
	padding-right: 50px;
	padding-top: 10px;
	/*padding-top: 25px;*/
}
#master_detailer_page_03_02 .content-col.content-col-2 {
	flex-basis: 0;
	padding-top: 30px;
}
#master_detailer_page_03_02 .popup .graph-ibs {
	position: relative;
}
	#master_detailer_page_03_02 .popup .graph-ibs .g-s01, 
	#master_detailer_page_03_02 .popup .graph-ibs .g-s02 {
		position: absolute;
		overflow: hidden;
		/*height: 0px;*/
	}
	#master_detailer_page_03_02 .popup .graph-ibs .g-s01 {
		left: 335px; 
		bottom: 119px;
	}
	#master_detailer_page_03_02 .popup .graph-ibs .g-s02 {
		left: 280px; 
		bottom: 119px;
	}

#master_detailer_page_03_02 .popup .graph-ibs img {
	max-width: 580px;
}	