#master_detailer_page_04_02 h2 {
	font-size: 30px;
}

#master_detailer_page_04_02 .container {
	padding: 10px 60px;
	/*padding: 20px 80px;*/
}

#master_detailer_page_04_02 .btn-default {
	/*min-width: 240px;*/
}
#master_detailer_page_04_02 .btn-absolute {
	top: 155px;
	right: 60px;
}
#master_detailer_page_04_02 img.img-full {
    max-width: 36px;
}
#master_detailer_page_04_02 p {
    margin-bottom: 10px;
}

#master_detailer_page_04_02 .iberogast-contains td {
    font-size: 20px;
}