#references_page h5, #references_page p {
	font-size: 20px;
}
#references_page .content-row {
	padding-top: 20px;
	/*align-items: start;*/
}

#references_page .container {
	padding: 20px 60px;
}

#references_page .content-col-1 {
	flex-basis: 40%;
	padding-right: 50px;
}

#references_page .content-col-2 {
	flex-basis: 60%;
}
#references_page .prod-iberogast {
	/*margin-top: 25px;*/
	position: absolute;
	top: 350px;
}
#references_page .prod-iberogast img {
	max-width: 320px;
}

#references_page ol {
    padding-left: 10px;
}
#references_page ol li {
    font-size: 14px;
    margin-bottom: 10px;
}
#references_page li::before {
	display: none;
}

#references_page h3 {
	font-size: 20px;
	line-height: 30px;
	font-weight: normal;
}
#references_page .btn-default{
	max-width: 300px;
}
#references_page .button-gast {
	position: absolute;
	bottom: 45px;
}