.tab-group {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}
.tg-nav {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 40%;
	margin-top: 20%;
}
.tg-general-button {
	position: relative;
	width: 100%;
	height: 73px;
	padding-left: 105px;
	margin-bottom: 11px;
	outline: 0;
	border-radius: 0 12px 12px 0;
	box-sizing: border-box;
	border: none;
	text-align: left;
	color: #fff;
	background: linear-gradient(to right, rgba(178, 178, 178, 0), rgba(178, 178, 178, .7));
	font: 400 26px / 1.2 Helvetica;
}
.tg-general-button:after {
	content: '';
	position: absolute;
	width: 27px;
	height: 27px;
	right: 22px;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	border-radius: 50%;
	background: #f5f5f5 content-box;
	border: 4px solid transparent;
	box-shadow: 0 0 0 1px #f5f5f5;
}
.tg-general-button.active {
	background: linear-gradient(to right, rgba(22, 145, 195, .1), rgba(22, 145, 195, .8));
}
.tg-general-button.start-button-training {
	background: linear-gradient(to right, rgba(110, 192, 135, .1), rgba(110, 192, 135, .8));
}
.tg-content {
	width: 100%;
	margin-left: -40%;
	display: none;
	padding: 20% 2% 0 50%;
}
.tg-content.active {
	display: block;
}
