#master_detailer_page_01 {}

#master_detailer_page_01 .container {
	padding: 10px 80px;
}
#master_detailer_page_01 .table-responsive {
	margin-top: 35px
}
#master_detailer_page_01 .table-responsive img.img-full {
    max-width: 20px;
}
    #master_detailer_page_01 .table-responsive th { 
        font-size: 16px;
    }

#master_detailer_page_01 .content-row {
    padding-top: 0px;
    align-items: start;
}
#master_detailer_page_01 .prod-iberogast img {
    max-width: 290px;
    margin-top: 60px;
}    
#master_detailer_page_01 .content-col.content-col-1 {
  flex-basis: 60%;
  margin-top: 10px;
}
#master_detailer_page_01 .content-col.content-col-2 {
  flex-basis: 0;
}
#master_detailer_page_01 .button-gast {
	position: absolute;
	bottom: 65px;
	right: 100px;
}