#hypersensitivity_page_02_01 {}

#hypersensitivity_page_02_01 .container {
	padding: 10px 30px;
}

#hypersensitivity_page_02_01 .content-row {
	align-items: start;
	margin-right: 30px;
	padding-top: 5px;
}

#hypersensitivity_page_02_01 .content-col.content-col-1 {
	flex-basis: 60%;
	/*flex-basis: 40%;*/
	padding-right: 50px;
}
#hypersensitivity_page_02_01 .content-col.content-col-2 {
	flex-basis: 0;
	padding-right: 10px;
	margin-top: 0px
}

#hypersensitivity_page_02_01 .img-full{
	border: 2px solid #fff;
	box-shadow: 0px 0px 10px #ccc;
}
#hypersensitivity_page_02_01 img.img-full{
	max-width: 240px;
}
#hypersensitivity_page_02_01 .graph-ibs{
	margin-bottom: 20px;
}

#hypersensitivity_page_02_01 .btn-default{
	max-width: 260px;
}
#hypersensitivity_page_02_01 .button-gast {
	position: absolute;
	bottom: 45px;
}
#hypersensitivity_page_02_01 .nav-page {
    position: absolute;
    right: 15px;
    top: 125px;
    z-index: 7;
}
#hypersensitivity_page_02_01 p.ref {
    font-size: 14px!important;
    margin: 5px 0;
}
#hypersensitivity_page_02_01 .button-gast {
	position: absolute;
	bottom: 50px;
	min-width: 240px;
	right: 70px;
}
#hypersensitivity_page_02_01 .btn-default.btn-next::after {
    right: 0;
    bottom: 22px;
}