
#start_slide .brandLogo-iberogast {
    background-size: 150px 60px!important;
    width: 150px;
    height: 60px;
    position: absolute;
    top: 170px;
    left: auto;
    right: 110px;
}
#start_slide .bayerLogo {
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: auto;
    bottom: 90px;
    right: 20px;
}

#start_slide h1 {
    font-size: 46px;
    /*font-size: 42px;*/
}
#start_slide .container {
    background-image: url(../../contents/bg-home-v2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100%;
}

#start_slide .contain-inside {
    top: 170px;
    left: 80px;
    max-width: 550px;
}

#start_slide .contain-inside p {
    font-size: 20px!important;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px!important;    
/*    font-size: 18px!important;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 60px!important;*/
}
    #start_slide .contain-inside h1, #start_slide .contain-inside p {
        text-align: center!important;
    }

#start_slide .btn-default {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 35px 0;
    min-height: 70px;
    line-height: 120%;
    position: relative;
    font-size: 20px;
    max-width: 300px;
}
#start_slide .btn-default.btn-default-sm {
    font-size: 17px; 
    line-height: 130%;
 }


#start_slide a.video {
    float: inherit;
    position: relative;
}

/* Portrait and Landscape */
@media only screen
and (max-width: 736px)
and (max-device-width: 736px) {

    #start_slide .brandLogo.huge{
        width: 75%;
    }

    #start_slide .slide-container{
        width: 75%;
    }


}
