.d-n { display: none; } 

.accelerator [data-module="ag-auto-menu"] {
    height: 25px!important;
}

*[data-reference-id] {
    font-size: 70%!important;
    vertical-align: middle!important;
}
.slide header {
	padding: 15px 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 20px 40px 0px rgba(208, 227, 218, 0.95);
	-moz-box-shadow:    0px 20px 40px 0px rgba(208, 227, 218, 0.95);
	box-shadow:         0px 20px 40px 0px rgba(208, 227, 218, 0.95);	
	min-height: 95px;
}
header h1 {
	text-align: center!important;
	margin: 25px 0;
}
.container {
	padding: 10px 30px;
}

.container h1 {
	text-align: center!important;
}

.brandLogo-iberogast {
    background-size: 130px 52px!important;
    width: 130px;
    height: 52px;
    position: absolute;
    top: 30px;
    left: 30px;
}
	.brandLogo-iberogast {
	    background: url(assets/images/logo-Iberogast.png) no-repeat;
	}

.prod-packshot {
    position: absolute;
    top: 280px;
    right: 20px;
}
    .prod-packshot img {
        width: 325px;
    }   

.contain-inside {
    position: absolute;
}


.la-contain {
    position: absolute;
    bottom: 60px;
    right: 100px;    
}
    .la-contain p {
        width: 550px;
        font-size: 16px!important;
        color: #646464;
        text-align: right!important;
        line-height: 1.25em!important;
    }
.la-number {
    position: absolute;
    bottom: 30px;
    right: 100px;    
}
    .la-number p {
        font-size: 16px!important;
        color: #646464;
        text-transform: uppercase;    
    }

.button-gast {
    margin-top: 25px;   
}    

.prod-iberogast img {
    max-width: 380px;
}

.graph-ibs {
    display: block;
    text-align: right;
}

  .popup .graph-ibs {
      display: block;
      text-align: center;
  }

.videos img {
  width:100%;
  height:auto;
}
a.video {
  float: left;
  position: relative;
}
a.video span {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../contents/video.png) no-repeat;
  background-position: 50% 50%;
  background-size: 64px 64px;
  opacity: 0.75
}
/*@media screen and (max-width: 480px) {
  a.video span {
    background-size: 64px 64px;
  }
}*/


/* Popup Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95)
}
    /* Inner */
    .popup-inner {
        max-width:960px;
        width:95%;
        padding:20px 30px;
        position:absolute;
        top:50%;
        left:50%;
        -webkit-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);
        min-height: 635px  
    }

    .popup-inner h2 {
        font-family: 'Ubuntu-Regular'!important;
        /*font-size: 26px!important;*/
        text-align: center!important;
    }

/* Close Button */
.popup-close {
    width:43px;
    height:43px;
    padding-top:4px;
    display:inline-block;    
    position:absolute;
    right: 15px;
    top: 38px;
    transition:ease 0.25s all;
    text-decoration: none;
}
    .popup-close:before {
        background: url(../../contents/icon-close.png);
        background-size: 43px 43px;
        width: 43px;
        height: 43px;
        content: "";
        position: absolute;
    }

    .popup-close:hover {
        text-decoration:none;
    }

.table-responsive {
    width: 100%;
    border: 2px solid #008E48;
    margin-bottom: 20px;
    border-collapse: collapse;
}
    .table-responsive thead {
        background: -moz-linear-gradient(top, rgba(0,142,71,1) 0%, rgba(106,177,0,1) 51%, rgba(0,142,71,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,142,71,1)), color-stop(51%, rgba(106,177,0,1)), color-stop(100%, rgba(0,142,71,1)));
        background: -webkit-linear-gradient(top, rgba(0,142,71,1) 0%, rgba(106,177,0,1) 51%, rgba(0,142,71,1) 100%);
        background: -o-linear-gradient(top, rgba(0,142,71,1) 0%, rgba(106,177,0,1) 51%, rgba(0,142,71,1) 100%);
        background: -ms-linear-gradient(top, rgba(0,142,71,1) 0%, rgba(106,177,0,1) 51%, rgba(0,142,71,1) 100%);
        background: linear-gradient(to bottom, rgba(0,142,71,1) 0%, rgba(106,177,0,1) 51%, rgba(0,142,71,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008e47', endColorstr='#008e47', GradientType=0 );  

    }
    .table-responsive th { 
        color: #fff;
        font-size: 22px;
    }
    .table-responsive td, .table-responsive th {
      border: 2px solid #008E48;
      padding: 13px;
      vertical-align: middle;
    }
    .table-responsive th {
      border-right: 2px solid #fff;
    }
        .table-responsive th:last-child {
          border-right: 2px solid #008E48;
        }
    .table-responsive td { 
        color: #008E48;
        font-family: 'Ubuntu-Bold';
        vertical-align: middle;
        line-height: 1.25em;
    }    
        .table-responsive tr:nth-child(even){background-color: #E0F3EA;}
        .table-responsive th.width-n {width: 185px;}

.iberogast-contains {
    width: 100%;
    border-top: 3px solid #6AB100;
    border-bottom: 3px solid #6AB100;
    margin-bottom: 5px;
    border-collapse: collapse;
}
    .iberogast-contains td {
      border-bottom: 1px solid #C5DEA1;
      padding: 3px;
      text-align: left;
      vertical-align: middle;
      color: #008E48;
    }
    .iberogast-contains td strong {
      font-style: italic;
    }    
    .iberogast-contains td.flower { width: 45px }
    .iberogast-contains td.padding-n {padding: 10px;}

.ref-table {
    margin-bottom: 7px!important;
    padding-bottom: 10px!important;
    border-bottom: 1px dashed #ddd;
}    
.btn-vertical {
    background: rgb(130,188,0);
    background: -moz-radial-gradient(closest-side, rgba(130,188,0,1) 0%, rgba(2,105,55,1) 90%);
    background: -webkit-radial-gradient(closest-side, rgba(130,188,0,1) 0%, rgba(2,105,55,1) 90%);
    background: radial-gradient(closest-side, rgb(130, 188, 0) 0%, rgb(2, 105, 55) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82bc00",endColorstr="#026937",GradientType=1); 
    color: #fff;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    display: flex;
    border-radius: 25px 25px 0 0;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 1.25em;
    position: relative;
    font-size: 18px;
    /*font-size: 16px;*/
    width: 185px;
    /*width: 175px;*/
    text-shadow: 1px 1px 3px rgba(0,0,0,0.65);
}
.button-gast-vertical {
    position: absolute;
    top: 400px;
    /*top: 420px;*/
    right: -232px;
    /*right: -215px;*/
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);    
}
.btn-vertical-1 {
    display: inline-block;   
}
.btn-vertical-2 {
    display: inline-block;
    background: -moz-radial-gradient(closest-side, rgba(249, 213, 110,1) 0%, rgba(240,156,39,1) 90%);
    background: -webkit-radial-gradient(closest-side, rgba(249, 213, 110,1) 0%, rgba(240,156,39,1) 90%);
    background: radial-gradient(closest-side, rgb(249, 213, 110) 0%, rgb(240,156,39) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F9D56E",endColorstr="#F09C27",GradientType=1);       
}
.btn-vertical-3 {
    display: inline-block;
    background: -moz-radial-gradient(closest-side, rgba(173, 236, 110,1) 0%, rgba(130,188,0,1) 90%);
    background: -webkit-radial-gradient(closest-side, rgba(173, 236, 110,1) 0%, rgba(130,188,0,1) 90%);
    background: radial-gradient(closest-side, rgb(173, 236, 110) 0%, rgb(130,188,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ADEC6E",endColorstr="#82BC00",GradientType=1);         
    width: 135px;
}
.visible {
    opacity: 0.25;
}
.visible-active {
  background: #000;
}
.green {color: #82BC00!important}

.content-video {
    margin-top: 60px;
}
.padding-n {
    padding: 2px;
    display: inline-block; 
}
p.ref {
    font-size: 16px!important;
    margin: 5px 0;
}

.nav-thumb {
  position: absolute;
  right: -60px;
  top: 150px;
  z-index: 7;
}
  .btn-back.ref {
    display: none;
  }
  button.btn-next.ref {
    border-style: none;
    padding: 20px 15px;
    text-indent: -9999px;
    background: #026937 url("../../contents/arrw-next.png") no-repeat 12px 20px;
  }
  button.btn-back.ref {
    border-style: none;
    padding: 20px 15px;
    text-indent: -9999px;
    background: #026937 url("../../contents/arrw-back.png") no-repeat 12px 20px;
  }

  .gadovist-two {
    display: none;
  }

/*** Animations */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
  visibility: visible !important;
}   

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  visibility: visible !important;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}
/***end  Animations */

.headline {
  margin-top: 75px;
}
  .headline h3, .headline h4 {
    text-align: center!important;
    color: #026937!important;
  }

.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
}

/* Style the buttons inside the tab */
.tab .btn-tab {
  background-color: #F5F9F7;
  float: left;
  border: 1px solid #82BC00;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  /*padding: 14px 16px;*/
  transition: 0.3s;
  font-size: 21px;
  /*font-size: 17px;*/
  border-radius: 20px 20px 0 0;
  border-bottom-style: none;
  color: #fff;
  font-weight: 700;
    background: -moz-radial-gradient(closest-side, rgba(173, 236, 110,1) 0%, rgba(130,188,0,1) 90%);
    background: -webkit-radial-gradient(closest-side, rgba(173, 236, 110,1) 0%, rgba(130,188,0,1) 90%);
    background: radial-gradient(closest-side, rgb(173, 236, 110) 0%, rgb(130,188,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ADEC6E",endColorstr="#82BC00",GradientType=1);    
    margin-right: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.65);
}

/* Change background color of buttons on hover */
.tab .btn-tab:hover{
  /*background-color: #82BC00;*/

}

/* Create an active/current tablink class */
.tab .btn-tab.active {
  background: #F5F9F7;
  color: #000;
  text-shadow: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 24px 10px;
  border-top: 1px solid #82BC00;
  margin-top: -1px;
  /*border: 1px solid #ccc;*/
  /*border-top: none;*/
}  
.img-popup {
  margin-top: 80px;
}
.nav-page {
    position: absolute;
    right: 30px;
    top: 220px;
    z-index: 7;
}
.td-hilight {
  font-size: 22px;
}
.no-padding-bottom {
  margin-bottom: 0!important;
}