.content-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
/*	margin-right: -15px;
	margin-left: -15px;*/
	align-items: center;
/*	padding-top: 15px;
	padding-bottom: 15px;*/
	padding-top: 20px;
}

.content-col {
	position: relative;
	width: 100%;
	min-height: 1px;
/*	padding-right: 15px;
	padding-left: 15px;*/
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.button-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.button-col {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.btn-default {
	background: rgb(130,188,0);
	background: -moz-radial-gradient(closest-side, rgba(130,188,0,1) 0%, rgba(2,105,55,1) 90%);
	background: -webkit-radial-gradient(closest-side, rgba(130,188,0,1) 0%, rgba(2,105,55,1) 90%);
	background: radial-gradient(closest-side, rgb(130, 188, 0) 0%, rgb(2, 105, 55) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82bc00",endColorstr="#026937",GradientType=1); 
	color: #fff;
	text-decoration: none;
	padding: 10px 45px 10px 25px;
	/*padding: 10px 25px 10px 15px;*/
	display: flex;
	border-radius: 25px 0;
	min-height: 50px;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	line-height: 120%;
	position: relative;
	font-size: 20px;
	/*font-size: 16px;*/
	max-width: 250px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.65);
}

.btn-default.btn-default-sm {
	font-size: 90%; 
 }

.btn-default.btn-plus::after {
	display: block;
	width: 22px;
	height: 22px;
	content: url(../../contents/icon-popup.png);
	/*content: "+";*/
	position: absolute;
	right: 0;
	transform: translateX(-50%);
/*	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 26px;
	line-height: 13px;
	font-weight: normal;
	text-align: center;*/
	bottom: 14px;
}
.btn-default.btn-next::after {
	display: block;
	width: 22px;
	height: 22px;
	content: url(../../contents/icon-next.png);
	position: absolute;
	right: 0;
	transform: translateX(-50%);
	bottom: 14px;
}

.btn-absolute {
	position: absolute;
}

article.slide h4 {
	font-family: 'Ubuntu-Bold';
    /*font-family: 'Ubuntu-Regular';*/
}



article.slide ul {
	margin-bottom: 18px;
}

.ul-column-2 {
	columns: 2;
}

.img-full {
	max-width: 100%;
}

.float-right {
	float: right;
}
.align-left { text-align: left!important; }
.align-center { text-align: center!important; }
.align-right { text-align: right!important; }
.align-middle { vertical-align: middle!important; }