/* We are overriding slide animations to make sure sliding in and out is always used */

/*********************************************
 * SLIDE TRANSITION
 * Aliased 'linear' for backwards compatibility
 *********************************************/
.accelerator.linear .slide,
.accelerator.convex .slide,
.accelerator.concave .slide,
.accelerator.zoom .slide,
.accelerator.cube .slide,
.accelerator.page .slide,
.accelerator.fade .slide {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.accelerator.fade .slides > .slide.stack {
    transform-style: preserve-3d;
    transition: transform-origin 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985),
        transform 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985),
        visibility 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985),
        opacity 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985) !important;
}

.accelerator[data-transition-speed="fast"].fade .slides > .slide {
    transition-duration: 400ms !important;
}
.accelerator[data-transition-speed="slow"].fade .slides > .slide {
    transition-duration: 1200ms !important;
}

/*********************************************
 * OVERRIDES
 *********************************************/
.accelerator .slides > .slide[data-transition=convex].past, .accelerator .slides > .slide[data-transition~=convex-out].past, .accelerator.convex .slides > .slide:not([data-transition]).past,
.accelerator .slides > .slide[data-transition=concave].past, .accelerator .slides > .slide[data-transition~=concave-out].past, .accelerator.concave .slides > .slide:not([data-transition]).past,
.accelerator .slides > .slide[data-transition=zoom].past, .accelerator .slides > .slide[data-transition~=zoom-out].past, .accelerator.zoom .slides > .slide:not([data-transition]).past,
.accelerator.cube .slides > .slide.past,
.accelerator.page .slides > .slide.past,
.accelerator.fade .slides > .slide.past {
  -webkit-transform: translate(-150%, 0);
      -ms-transform: translate(-150%, 0);
          transform: translate(-150%, 0); }

.accelerator .slides > .slide[data-transition=convex].future, .accelerator .slides > .slide[data-transition~=convex-in].future, .accelerator.convex .slides > .slide:not([data-transition]).future,
.accelerator .slides > .slide[data-transition=concave].future, .accelerator .slides > .slide[data-transition~=concave-in].future, .accelerator.concave .slides > .slide:not([data-transition]).future,
.accelerator .slides > .slide[data-transition=zoom].future, .accelerator .slides > .slide[data-transition~=zoom-in].future, .accelerator.zoom .slides > .slide:not([data-transition]).future,
.accelerator.cube .slides > .slide.future,
.accelerator.page .slides > .slide.future,
.accelerator.fade .slides > .slide.future {
  -webkit-transform: translate(150%, 0);
      -ms-transform: translate(150%, 0);
          transform: translate(150%, 0); }

.accelerator .slides > .slide.stack[data-transition=convex].past, .accelerator .slides > .slide.stack[data-transition~=convex-out].past, .accelerator.convex .slides > .slide.stack:not([data-transition]).past,
.accelerator .slides > .slide.stack[data-transition=concave].past, .accelerator .slides > .slide.stack[data-transition~=concave-out].past, .accelerator.concave .slides > .slide.stack:not([data-transition]).past,
.accelerator .slides > .slide.stack[data-transition=zoom].past, .accelerator .slides > .slide.stack[data-transition~=zoom-out].past, .accelerator.zoom .slides > .slide.stack:not([data-transition]).past,
.accelerator.cube .slides > .slide.stack.past,
.accelerator.page .slides > .slide.stack.past,
.accelerator.fade .slides > .slide.stack.past {
  -webkit-transform: translate(0, -150%);
      -ms-transform: translate(0, -150%);
          transform: translate(0, -150%); }

.accelerator .slides > .slide.stack[data-transition=convex].future, .accelerator .slides > .slide.stack[data-transition~=convex-in].future, .accelerator.convex .slides > .slide.stack:not([data-transition]).future,
.accelerator .slides > .slide.stack[data-transition=concave].future, .accelerator .slides > .slide.stack[data-transition~=concave-in].future, .accelerator.concave .slides > .slide.stack:not([data-transition]).future,
.accelerator .slides > .slide.stack[data-transition=zoom].future, .accelerator .slides > .slide.stack[data-transition~=zoom-in].future, .accelerator.zoom .slides > .slide.stack:not([data-transition]).future,
.accelerator.cube .slides > .slide.stack.future,
.accelerator.page .slides > .slide.stack.future,
.accelerator.fade .slides > .slide.stack.future {
  -webkit-transform: translate(0, 150%);
      -ms-transform: translate(0, 150%);
          transform: translate(0, 150%); }
