article.slide {
    font-family: 'Ubuntu-Regular';
    /*font-family: Helvetica, sans-serif;*/
    font-size: 18px;
    color: #404040;
    /*background-color: white;*/
    padding: 0px !important;
    /*padding: 64px !important;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f0f6f3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f6f3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f0f6f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f6f3',GradientType=0 ); /* IE6-9 */

}

article.slide.black {
    color: white;
    background-color: black;
}

article.slide .inset {
    position: absolute;
    top: 64px;
    left: 64px;
    right: 64px;
    bottom: 64px;
}
article.slide h1, article.slide h2, article.slide h3, article.slide h4, article.slide h5 {
    letter-spacing: -0.65px;
}
article.slide h1 {
    font-family: 'Ubuntu-Bold';
    /*font-family: Helvetica-Bold;*/
    font-size: 34px;
    /*font-size: 32px;*/
    color: #026937;
    line-height: 1em;
    margin-bottom: 17px;
    text-align: left;
}

article.slide h2 {
    font-family: 'Ubuntu-Regular';
    /*font-family: 'Ubuntu-Bold';*/
    /*font-family: Helvetica-Bold;*/
    font-size: 30px;
    /*font-size: 28px;*/
    color: #026937;
    margin-bottom: 15px;
    line-height: 1.24em;
    text-align: left;
}

article.slide h3 {
    font-family: 'Ubuntu-Bold';
    /*font-family: HelveticaLTStd-Bold;*/
    color: #026937;
    margin-bottom: 12px;
    font-size: 28px;
    /*font-size: 26px;*/
    /*font-size: 24px;*/
    /*font-size: 22px;*/
    line-height: 1.25em;
    text-align: left;
}
article.slide h4 {
    font-family: 'Ubuntu-Bold';
    /*font-family: HelveticaLTStd-Bold;*/
    color: #404040;
    margin-bottom: 12px;
    font-size: 24px;
    /*font-size: 20px;*/
    /*font-size: 18px;*/
    line-height: 1.25em;
    text-align: left;
}
article.slide h5 {
    font-family: 'Ubuntu-Bold';
    /*font-family: 'Ubuntu-Regular';*/
    color: #026937;
    margin-bottom: 16px;
    font-size: 24px;
    /*font-size: 18px;*/
    line-height: 1.25em;
    text-align: left;
}
article.slide p {
    font-size: 22px;
    /*font-size: 18px;*/
    /*font-size: 16px;*/
    line-height: 1.45em;
    margin-bottom: 15px;
    text-align: left;
}
article.slide strong {
    font-family: 'Ubuntu-Bold';
}

article.slide ul {
    list-style-type: none;
    margin-left: 22px;
    text-align: left;
}

article.slide li {
    position: relative;
    font-size: 22px;
    /*font-size: 18px;*/
    /*font-size: 16px;*/
    margin-bottom: 6px;
    text-align: left;
    line-height: 1.25em;
    margin-left: 21px;
}

article.slide li:before {
    content: url(../../contents/bullet.png);
    /*content: "•";*/
    font-size: 28px;
    margin-left: -21px;
    margin-right: 9px;
/*    position: absolute;
    top: -3px;
    left: -18px;*/
}

article.slide sup {
    /*top: initial;*/
    top: -0.5em;
    font-size: 75%;
    /*font-size: initial;*/
}

/* Portrait and Landscape */
@media only screen
and (max-width: 736px)
and (max-device-width: 736px) {

    .accelerator .slides > article.slide.present {
        overflow-y: scroll;
        margin: 5px ;
        padding: 45px !important;
    }

    .bayerLogo,
    .bayerLogoWhite{
        top: 20px;
    }

    .brandLogo{
        bottom: inherit;
        right: 20px;
        margin-bottom: 50px;
    }

    article.slide h1{
        margin-top: 50px;
    }


}
