.accelerator [data-module="ag-auto-menu"] {
	height: 50px;
	position: absolute;
	width: 100%;
	z-index: 100;
	-webkit-transition: -webkit-transform .6s;
	-moz-transition: -moz-transform .6s;
	-ms-transition: -ms-transform .6s;
}

.accelerator [data-module="ag-auto-menu"].placement-bottom {
	bottom: 0;
}

.accelerator .menu-container {
	width: 10000px;
	transition-duration: 0.5s;
}

.accelerator .menu {
	background-color: #454545;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	overflow: hidden;
	/*background: url("assets/menu-bg.png");*/
	white-space: nowrap;
	font-size: 19px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	z-index: 99;
}

.accelerator .menu li {
	border-right: solid 1px #757575;
	color: #ccc;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0.9em;
	height: 50px;
	padding: 17px 30px;
	pointer-events: auto;
	text-align: center;
}

.accelerator .menu .selected {
	color: #fff;
	background-color: #006639;
}

.ag-remote.ag-role-contact .accelerator .menu {
	display: none;
}

/* ===== Examples how CSS can be used to style specific links with icons or custom text ===== */
/* Replace with icon */
/*

.accelerator .menu .home, .menu [data-goto="default/welcome"] {
    width: 60px;
    height: 50px;
    padding: 0px;
    background: url(shared/home-button.png) no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

*/
/* Active icon */
/*

.accelerator .menu .home.selected, .menu [data-goto="default/welcome"].selected {
    background: url(assets/home-button-active.png) no-repeat center center, #58595B;
}

*/
/* Replace default text */
/* First hide... */
/*

.accelerator .menu [data-goto="default/welcome"] {
  text-indent: -9999px;
  line-height: 0;
}

*/
/* ... then display new text */
/*

.accelerator .menu [data-goto="default/welcome"]::after {
  content: "Home";
  text-indent: 0;
  display: block;
  line-height: 1;
}

*/


