.favoritePresentationsContainer{
    position: absolute;
    top: 490px;
    left: auto;
    right: auto;
    width: 85%;
    height: 200px;
    background: darkgrey;
}

.favoritePresentationsContainer .button {
    float: left;
    width: auto;
    height: 50px;
    background: white;
    color: black;
    margin: 10px;
    text-align: center;
    padding-top: 30px;
    min-width: 150px;
    max-width: 500px;
}


html.ag-microsite [data-module="ap-favorite-presentations-buttons"] .favoritePresentationsContainer{
    display: none;
}



